# Assignment Data Structure

1. What are data structures, and why are they important ?
- Data structures are ways of organizing and storing data to perform operations efficiently. Examples include lists, tuples, dictionaries, and sets.
2. Explain the difference between mutable and immutable data types with examples.
- **Mutable**: Can be changed after creation E.g., list, dict, set ,This means you can modify, add, or remove elements without creating a new object.
- **Immutable** : objects cannot be changed after they are created. Any operation that modifies the data will actually create a new object.

In [ ]:
# example of Mutable Data Type
my_list = [1, 2, 3]
my_list.append(4)  # Modify the list in place
print(my_list)

[1, 2, 3, 4]

In [ ]:
# Immutable Data Types
my_str = "Hello"
my_str = my_str + " World"  # Creates a new string
print(my_str)

Hello World

3. What are the main differences between lists and tuples in Python?
- **1. Mutability**

  List: Mutable – You can change, add, or remove elements.

   Tuple: Immutable – Once created, it cannot be changed.
- **2. Performance**

  Tuple: Slightly faster than lists, especially for large data or iteration, because they are immutable.

  List: A bit slower, but more flexible.
- **3. Syntax**

   List: Uses square brackets [ ]

  Tuple: Uses parentheses ( )
- **4. Use Cases**

  List: When you need a dynamic collection that may change (e.g., adding/removing items).

  Tuple: When you need a fixed collection, or when used as dictionary keys (since they're hashable).
4. Describe how dictionaries store data.
- A dictionary in Python is a collection of key-value pairs.
- Key = the label (e.g., "name")

  Value = the data (e.g., "raju")

In [4]:
student = {
    "name": "raju",
    "age": 28,
    "course": "Computer Science"
}

- How is it stored?
- Step 1: Python hashes the key

  Python uses a function called hash() to turn the key into a number.
- Step 2: It stores the key and value in that slot

 Python doesn't just store the value. It stores both the key and value together so it can always match them correctly later.
- Step 3: Fast lookups using the hash
5. What is a string in Python, and how is it different from a list?
-  **A String in Python :**
A string is a sequence of characters.
It’s used to store text — like names, sentences.
-  **A List in Python :** A list is a sequence that can hold any type of items — numbers, strings, even other lists.
6. How do tuples ensure data integrity in Python?
- Tuples help ensure data integrity in Python by being immutable — once created, they cannot be changed.
- **Data integrity :** means keeping data:

  Accurate

  Consistent

  Unchanged unless explicitly intended
- How Tuples Help Ensure Data Integrity

 Immutability = Safety

 Once you create a tuple, it cannot be modified:

 No adding

 No removing

 No changing elements
- Tuples Can Be Used as Dictionary Keys
- Helps Define Fixed Data Structures
- Safe from Unintended Side Effects
7. What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores data in key-value pairs and uses a hash function to compute an index (like an address in memory) where the value is stored.
- How Does This Relate to Python Dictionaries

 Python's dict type is built using a hash table internally. That’s what makes dict so fast.

 person = {"name": "raju", "age": 30}

 Python calls hash("name") → gets a number (e.g. 823749)

 That number is mapped to a slot (an index) in an internal array

 Python stores the key and value together at that slot → ("name", "raju")
8. Can lists contain different data types in Python?
- Yes, lists in Python can contain elements of different data types. This flexibility is one of the key features of Python lists. A single list can hold integers, strings, floats, booleans, and even other lists or dictionaries.
9. Explain why strings are immutable in Python.
- Strings are immutable in Python because once a string is created, its contents cannot be changed
- **Why Are Strings Immutable **

 Performance and Memory Efficiency : Strings are widely used in Python, so optimizing their use matters.

 Thread Safety : Because they can’t be changed, immutable objects are inherently thread-safe.

 Hashing for Dictionaries/Sets : Strings are commonly used as keys in dictionaries or elements in sets.

 Simplicity and Consistency
10. What advantages do dictionaries offer over lists for certain tasks.
-  Advantages of Dictionaries Over Lists

 Advantages of Dictionaries Over Lists

 Key-Value Association:Dictionaries let you associate labels (keys) with values.

 Avoiding Duplicate Keys: Dictionaries automatically overwrite values if a duplicate key is added, helping manage uniqueness.

 Dynamic and Flexible Structure: Easy to add, update, or delete entries without shifting other elements

# Practical Questions

In [5]:
# 1. Write a code to create a string with your name and print it
name = "raju"
print(name)

raju

In [6]:
# 2. Write a code to find the length of the string "Hello World"
str = "Hello World"
print(len(str))

11

In [7]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
str = "Python Programming"
print(str[:3])

Pyt

In [8]:
# 4. Write a code to convert the string "hello" to uppercase.
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [9]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [10]:
# 6. Write a code to create a list with numbers 1 to 5 and print it
numbers = [1, 2, 3, 4, 5]

print("List of numbers:", numbers)  # # Print the list

List of numbers: [1, 2, 3, 4, 5]

In [11]:
# 7.  Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]  #  Define the list

numbers.append(10)      # Append the number 10

print("Updated list:", numbers)  # Print the updated list

Updated list: [1, 2, 3, 4, 10]

In [12]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
numbers = [1, 2, 3, 4, 5]  # Define the list

numbers.remove(3)         # Remove the number 3

print("Updated list:", numbers)  # Print the updated list

Updated list: [1, 2, 4, 5]

In [13]:
# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
my_list = ['a', 'b', 'c', 'd']

second_element = my_list[1]

print("Second element:", second_element)

Second element: b

In [14]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
my_list = [10, 20, 30, 40, 50]

reversed_list = my_list[::-1]

print("Reversed list:", reversed_list)

Reversed list: [50, 40, 30, 20, 10]

In [15]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it
my_tuple = (100, 200, 300)

print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [16]:
# 12.  Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
my_tuple = ('red', 'green', 'blue', 'yellow')

second_to_last_element = my_tuple[-2]

print("Second-to-last element:", second_to_last_element)
#

Second-to-last element: blue

In [17]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
my_tuple = (10, 20, 5, 15)

min_number = min(my_tuple)

print("Minimum number:", min_number)

Minimum number: 5

In [18]:
# 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
my_tuple = ('dog', 'cat', 'rabbit')

cat_index = my_tuple.index('cat')

print("Index of 'cat':", cat_index)

Index of 'cat': 1

In [19]:
# 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ("apple", "banana", "orange")

if "kiwi" in fruits:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

kiwi is not in the tuple

In [20]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'}

print("Set:", my_set)

Set: {'a', 'b', 'c'}

In [21]:
# 17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}

my_set.clear()

print("Set after clearing:", my_set)

Set after clearing: set()

In [22]:
# 18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}

my_set.remove(4)

print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

In [23]:
# 19.  Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.union(set2)    # Find the union

print("Union of sets:", union_set)   # Print the result

Union of sets: {1, 2, 3, 4, 5}

In [24]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)

print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [25]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    "name": "John",
    "age": 25,
    "city": "New York"
}

print("Dictionary:", my_dict)

Dictionary: {'name': 'John', 'age': 25, 'city': 'New York'}

In [26]:
# 22.  Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}

my_dict['country'] = 'USA'

print("Updated dictionary:", my_dict)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [27]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

my_dict = {'name': 'Alice', 'age': 30}

name_value = my_dict['name']

print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

In [28]:
# 24.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

my_dict = {'name': 'Alice', 'age': 30}

name_value = my_dict['name']

print("Value associated with 'name':", name_value)

Value associated with 'name': Alice

In [29]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

my_dict = {'name': 'Alice', 'city': 'Paris'}

if 'city' in my_dict:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [30]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all

# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ("apple", "banana", "cherry")

# Create a dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}

# Print them all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [31]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print theresult.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [4, 16, 27, 54, 87]

In [33]:
# 28.  Write a code to create a list with strings and print the element at the third index
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

third_element = my_list[2]

print("Element at index 2:", third_element)

Element at index 2: cherry

In [34]:
# 29. Write a code to combine two dictionaries into one and print the result.

# Define two dictionaries
dict1 = {"name": "raju", "age": 25}
dict2 = {"city": "india", "job": "Engineer"}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'raju', 'age': 25, 'city': 'india', 'job': 'Engineer'}

In [35]:
# 30. Write a code to convert a list of strings into a set.

# Define a list of strings
string_list = ["apple", "banana", "cherry", "apple", "date"]

# Convert the list to a set
string_set = set(string_list)

# Print the result
print("Set:", string_set)

Set: {'banana', 'date', 'apple', 'cherry'}